body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

p {
    margin: 10px 0;
}

.container {
    width: 100%;
    height: 100%;
    background: url("./img/gallery_6.jpeg") no-repeat center center;
    background-size: cover;
    font-family: Karla, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.circle {
    position: relative;
    width: 900px;
    height: 500px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error {
    font-size: 100px;
}

.plug {
    position: absolute;
    width: 280px;
    height: 140px;
    background: url("./img/plug.png") no-repeat center center;
    background-size: cover;
    right: 135px;
    top: 60px;
    transform: rotate(45deg);
}

.message {
    font-size: 40px;
}

.comment {
    font-size:30px;
}

.links {
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    transition: all .3s ease;
}

a:hover {
    color: rgba(255,255,255, .4);
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .circle {
        width: 600px;
        height: 350px;
    }

    .message {
        font-size: 30px;
    }

    .comment {
        font-size:20px;
    }

    .plug {
        width: 200px;
        height: 120px;
        right: 30px;
        top: 30px;
    }

    a {
        font-size: 15px;
    }
}

@media screen and (min-width: 525px) and (max-width: 768px) {
    .circle {
        width: 500px;
        height: 300px;
    }

    .error {
        font-size: 80px;
    }

    .message {
        font-size: 25px;
    }

    .comment {
        font-size:20px;
    }

    .plug {
        width: 140px;
        height: 80px;
        right: 30px;
        top: 30px;
    }

    a {
        font-size: 12px;
    }
}

@media screen and (min-width: 480px) and (max-width: 524px){
    .circle {
        width: 450px;
        height: 250px;
    }

    .error {
        font-size: 60px;
    }

    .message {
        font-size: 20px;
    }

    .comment {
        font-size: 15px;
    }

    .plug {
        width: 100px;
        height: 60px;
        right: 80px;
        top: 30px;
    }

    a {
        font-size: 12px;
    }
}

@media screen and (min-width: 350px) and (max-width: 479px){
    .circle {
        width: 350px;
        height: 250px;
    }

    .error {
        font-size: 50px;
    }

    .message {
        font-size: 16px;
    }

    .comment {
        font-size: 12px;
    }

    .plug {
        width: 100px;
        height: 60px;
        right: 50px;
        top: 30px;
    }

    .links {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    a {
        font-size: 12px;
    }
}

@media screen and (min-width: 300px) and (max-width: 349px){
    .circle {
        width: 300px;
        height: 250px;
    }

    .error {
        font-size: 40px;
    }

    .message {
        font-size: 14px;
    }

    .comment {
        font-size: 10px;
    }

    .plug {
        width: 100px;
        height: 60px;
        right: 30px;
        top: 30px;
    }

    .links {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    a {
        font-size: 12px;
    }
}